<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 px-md-4 border-bottom mb-3 bg-white shadow-sm fixed-top">
  <!-- Logo and Title -->
  <div class="d-flex align-items-center">
    <!-- Logo -->
    <img src="/assets/logo_task.png" style="max-height: 50px;" alt="Logo" class="logo" routerLink="/" />
    <!-- Title -->
    <span class="ms-3 fw-bold" style="font-size: 1.5rem; color: #333;">Task Management System</span>
  </div>

  <!-- Navigation Menu -->
  <nav class="my-2 my-md-0 text-uppercase" style="font-size: larger;">
    <a class="me-3 py-2 text-decoration-none text-dark" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Home
    </a>
    <ng-container *ngIf="(curentUser$ | async)">
      <a class="me-3 py-2 text-decoration-none text-dark" routerLink="/task" routerLinkActive="active">
        Task
      </a>
    </ng-container>
  </nav>

  <!-- User Authentication Links -->
  <div class="d-flex align-items-center">
    <!-- If user is not logged in -->
    <ng-container *ngIf="(curentUser$ | async) === null">
      <a routerLink="/login" class="btn btn-outline-secondary mx-2">Login</a>
      <a routerLink="/register" class="btn btn-primary mx-2 text-white">Sign Up</a>
    </ng-container>

    <!-- Dropdown for Logged-in Users -->
    <ng-container *ngIf="(curentUser$ | async)">
      <div class="dropdown ms-3" dropdown>
        <a class="dropdown-toggle text-decoration-none" style="cursor: pointer;" dropdownToggle>
          <strong>Welcome, {{ (curentUser$ | async)!.name }}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out me-2"></i>Log Out
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
